version: '3.8'


networks:
  default:
    driver: bridge
    
services:
  limitecontas:
    image: openjdk:11
    container_name: limitecontas
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      AWS_ACCESS_KEY_ID: teste
      AWS_ACCESS_KEY: teste
      AWS_SECRET_ACCESS_KEY: teste
      AWS_SECRET_KEY: teste
      CLOUD_AWS_QUEUE_ENDPOINT: http://awslocal:4566
      CLOUD_AWS_TOPIC_ENDPOINT: http://awslocal:4566
    depends_on:
      - postgres
      - localstack
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile

  localstack:
    image: localstack/localstack
    container_name: awslocal
    hostname: awslocal
    ports:
      - "4576:4576"
      - "4575:4575"
      - "4566:4566"
      - "8080:8080"
    environment:
      - DEFAULT_REGION=sa-east-1
      - SERVICES=sqs,sns
      - EDGE_PORT=4566
      - HOSTNAME_EXTERNAL=localstack
      - DOCKER_HOST=unix:///var/run/docker.sock
      - HOST_TMP_FOLDER=/tmp/localstack
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./localstack_bootstrap:/docker-entrypoint-initaws.d/
  postgres:
    image: postgres:10
    container_name: postgres
    environment:
      - POSTGRES_DB=dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - TZ=GMT
    ports:
      - 5432:5432