version: '3.8'

services:
  localstack:
    image: localstack/localstack
    network_mode: bridge
    ports:
      - "4576:4576"
      - "4575:4575"
      - "4566:4566"
      - "8080:8080"
    environment:
      - DEFAULT_REGION=sa-east-1
      - SERVICES=sqs,sns
      - EDGE_PORT=4566
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./localstack_bootstrap:/docker-entrypoint-initaws.d/
  postgres:
    image: postgres:10
    container_name: postgres
    environment:
      - POSTGRES_DB=dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - TZ=GMT
    ports:
      - 5432:5432